name: Create Nightly PR
on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: beta
      - name: setup git
        run: |
          # from https://github.com/orgs/community/discussions/26560
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git fetch origin main
          git reset --hard main
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Update jsons
        shell: python
        run: |
          import json
          from subprocess import check_output, check_call, DEVNULL
          import tempfile
          import xml.etree.ElementTree as ET
          import datetime
          from itertools import filterfalse

          def GetCommitSha(url, ref):
              with tempfile.TemporaryDirectory() as directory:
                  check_call(['git', 'init'], cwd=directory, stdout=DEVNULL, stderr=DEVNULL)
                  check_call(['git', 'remote', 'add', 'origin', url], cwd=directory)
                  res = check_output(["git", "ls-remote", "origin", ref], cwd=directory).split(b'\t')[0].decode("utf-8")
                  if len(res) == 0:
                      return ref
                  return res

          def UpdateSource(source, url, ref):
              if source['type'] == 'git' and source['url'] == url:
                  source['commit'] = GetCommitSha(url, ref)

          obj=json.load(open('io.mrarm.mcpelauncher.json'))
          for module in obj['modules']:
              for source in module['sources']:
                  # UpdateSource(source, 'https://github.com/minecraft-linux/glfw', 'master')
                  UpdateSource(source, 'https://github.com/gabomdq/SDL_GameControllerDB', 'master')
                  # UpdateSource(source, 'https://github.com/minecraft-linux/msa-manifest.git', '${{ github.event.inputs.msa }}')
                  UpdateSource(source, 'https://github.com/minecraft-linux/mcpelauncher-manifest.git', 'qt6')
                  UpdateSource(source, 'https://github.com/minecraft-linux/mcpelauncher-versiondb.git', 'master')
                  mcpeui = 'https://github.com/minecraft-linux/mcpelauncher-ui-manifest.git'
                  UpdateSource(source, mcpeui, 'qt6')
                  if source['type'] == 'git' and source['url'] == mcpeui:
                      module['build-options']['config-opts'][:] = filterfalse(lambda x: x.startswith('-DLAUNCHER_VERSION_NAME=') or x.startswith('-DLAUNCHER_VERSION_CODE=') or x.startswith('-DLAUNCHER_CHANGE_LOG=') or x.startswith('-DLAUNCHER_VERSIONDB_URL='), module['build-options']['config-opts'])
                      module['build-options']['config-opts'] += ['-DLAUNCHER_VERSION_NAME=v0.0.${{ github.run_id }}-nightly', '-DLAUNCHER_VERSION_CODE=' + str(${{ github.run_id }}), "-DLAUNCHER_CHANGE_LOG=N/A", '-DLAUNCHER_VERSIONDB_URL=https://raw.githubusercontent.com/minecraft-linux/mcpelauncher-versiondb/master']

          json.dump(obj, open('io.mrarm.mcpelauncher.json', 'w'), indent=4)

          tree = ET.parse('io.mrarm.mcpelauncher.metainfo.xml')
          root = tree.getroot()
          releases = root.find('releases')
          rel = ET.Element('release')
          releases.clear()
          releases.insert(0, rel)
          rel.set('version', 'v0.0.${{ github.run_id }}')
          rel.set('date', datetime.date.today().isoformat())
          rel.append(ET.fromstring("<description>Bump Launcher</description>"))
          ET.indent(tree, space='    ')
          tree.write('io.mrarm.mcpelauncher.metainfo.xml', encoding='utf-8', xml_declaration=True)
      - name: linux-flatpak-push-commit
        run: |
          git add .
          git commit -m "Release ${{ github.run_id }} via Buildbot"
          git push origin HEAD:refs/heads/nightly/v0.0.${{ github.run_id }}

      - run: gh pr create --title "Nightly v0.0.14450246717" --body "Automated Update" --base beta --head nightly/v0.0.${{ github.run_id }} -l beta-update
        env:
          GH_TOKEN: ${{ github.token }}
